<!DOCTYPE HTML>
<!--
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣬⡛⣿⣿⣿⣯⢻
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢻⣿⣿⢟⣻⣿⣿⣿⣿⣿⣿⣮⡻⣿⣿⣧
⣿⣿⣿⣿⣿⢻⣿⣿⣿⣿⣿⣿⣆⠻⡫⣢⠿⣿⣿⣿⣿⣿⣿⣿⣷⣜⢻⣿
⣿⣿⡏⣿⣿⣨⣝⠿⣿⣿⣿⣿⣿⢕⠸⣛⣩⣥⣄⣩⢝⣛⡿⠿⣿⣿⣆⢝
⣿⣿⢡⣸⣿⣏⣿⣿⣶⣯⣙⠫⢺⣿⣷⡈⣿⣿⣿⣿⡿⠿⢿⣟⣒⣋⣙⠊
⣿⡏⡿⣛⣍⢿⣮⣿⣿⣿⣿⣿⣿⣿⣶⣶⣶⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⢱⣾⣿⣿⣿⣝⡮⡻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⣋⣻⣿⣿⣿⣿
⢿⢸⣿⣿⣿⣿⣿⣿⣷⣽⣿⣿⣿⣿⣿⣿⣿⡕⣡⣴⣶⣿⣿⣿⡟⣿⣿⣿
⣦⡸⣿⣿⣿⣿⣿⣿⡛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⣿⣿⣿
⢛⠷⡹⣿⠋⣉⣠⣤⣶⣶⣿⣿⣿⣿⣿⣿⡿⠿⢿⣿⣿⣿⣿⣿⣷⢹⣿⣿
⣷⡝⣿⡞⣿⣿⣿⣿⣿⣿⣿⣿⡟⠋⠁⣠⣤⣤⣦⣽⣿⣿⣿⡿⠋⠘⣿⣿
⣿⣿⡹⣿⡼⣿⣿⣿⣿⣿⣿⣿⣧⡰⣿⣿⣿⣿⣿⣹⡿⠟⠉⡀⠄⠄⢿⣿
⣿⣿⣿⣽⣿⣼⣛⠿⠿⣿⣿⣿⣿⣿⣯⣿⠿⢟⣻⡽⢚⣤⡞⠄⠄⠄⢸⣿
-->
<html>
  <head>
    <title>hentaisupplier - <%= meminf["name"] %> </title>
    <meta property="og:title" content="<%= meminf["name"] %>" />
    <meta property="og:image" content="<%= meminf["img"] %>" />
    <meta property="og:site_name" content="hentaisupplier.cf">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= meminf["og"] %>" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/team.css">
    <link rel="stylesheet" type="text/css" href="/css/teammember.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/js/main.js" type="text/javascript"></script>
  </head>
  <body onload="bg()">
    <div class="headimg"></div>
    <div id="teampopup">
      <div class="popupbar">
        <div class="role">
          <p><%= meminf["role"] %></p>
        </div>
      </div>
      <div class="popupmain">
        <div class="pople">
          <img src="<%= meminf["img"] %>" class="popimg"><br>
        </div>
        <div class="popri">
          <div class="poptitle">
          <h1><%= meminf["name"] %></h1>
            <p class="hilight"><%= meminf["discord"] %></p>
          </div>
          <div class="smcontainer">
            <% if(meminf["github"] != null) { %><a href="https://github.com/<%= meminf["github"] %>"><img src="/img/GitHub-Mark-Light-120px-plus.png" class="sm"></a><% } %>
            <% if(meminf["twitter"] != null) { %><a href="https://twitter.com/<%= meminf["twitter"] %>"><img src="/img/Twitter_Logo_Blue.svg" class="sm"></a><% } %>
            <% if(meminf["youtube"] != null) { %><a href="<%= meminf["youtube"] %>"><img src="/img/youtube_social_icon_red.png" class="sm"></a><% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
